<span class="results">
<span class="fail">
      <label>FAIL</label>
      <input class="test_checkmark" type="checkbox" name="{{ name }}--fail"/>
    </span>
<span class="pass">
      <label>PASS</label>
      <input class="test_checkmark" type="checkbox" name="{{ name }}--pass"/>
    </span>
  </span>
