html {
    font-size: 17px;
    font-family: Thasadith, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 75%;
    display: block;
    margin: 50px auto;
}

.fail {
    color: red;
}

.pass {
    color: green;
}

td {
    vertical-align: top;
    width: 50%;
}

td img {
    max-width: 100%;
    margin: 0 auto;
}

section.testcase {
    page-break-before: always;
}

.testcase_group {
    margin-right: 36px;
}

.testcase_suite {
    margin-right: 36px;
}

h1 span.results {
    float: right;
}

h2 {
    margin-bottom: 0.25em;
}

p {
    margin-top: 0;
}

ul, ol {
    margin: 0;
}

.test_checkmark {
    opacity: 0;
    width: 1em;
    height: 1em;
}

.test__execution ul {
    list-style: none;
    padding-left: 0;
}

.test__execution ol {
    padding-left: 1.25em;
}

code {
    padding: 3px;
    background: rgba(255, 255, 0, .3);
}
