<h2>Test Data</h2>
{% if data %}
  <table class="pure-table pure-table-bordered">
    <tbody>
    {% for name, value in data %}
      {% if name|first != "_" %}
        <tr>
          <td>{{ name|replace({"_":" "}) }}</td>
          <td><code>{{ value }}</code></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Anything you want.</p>
{% endif %}

