{% if public_data %}
  <h2>Test Data</h2>
  <table class="pure-table pure-table-bordered">
    <tbody>
    {% for name, value in public_data %}
      <tr>
        <td>{{ name|replace({"_":" "}) }}</td>
        <td><span class="token-value">{{ value }}</span></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

