<h2>Comments</h2>
<form class="pure-form">
  <p>Please mention browser, device type, where you logged in, and anything else
    that can help diagnose failure.</p>
  <textarea class="pure-input-1" name="" id="" rows="4"></textarea>
</form>

<p>Test completed by: {{ tester.name }}</p>
